<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
    <title>第四週 - 元件化</title>
</head>
<body>
    <div id="app">
        <div class="container  ">
            <div class="card p-5 m-5">
                <h1 class="text-center">第四周-請先登入</h1>
                <form id="form" class="form-signin">
                    <div class="form-floating mb-3">
                      <input v-model="user.username" type="email" class="form-control" id="username"
                        placeholder="name@example.com"  required autofocus>
                      <label for="username">Email address</label>
                    </div>
                    <div class="form-floating">
                      <input v-model="user.password" type="password" class="form-control" id="password"
                        placeholder="Password" required>
                      <label for="password">Password</label>
                    </div>
                    <button class="btn btn-lg btn-primary w-100 mt-3" type="button" @click="login">
                      登入
                    </button>
                  </form>
            </div>
        </div>
      </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'
    integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
    crossorigin='anonymous'></script>
    
    <script src="./login.js" type="module"></script>
</body>
</html>